fastapi>=0.110,<1.0
uvicorn[standard]>=0.23,<1.0
python-gitlab>=4.4,<5.0
google-generativeai
python-dotenv>=1.0,<2.0
langchain>=0.2,<0.3
langchain-core>=0.2,<0.3
langchain-openai>=0.1,<0.2
langchain-google-genai>=1.0,<2.0
jira==3.10.5
pytest==9.0.1
pymongo>=4.6,<5
clerk-backend-api>=1.0.0,<2.0.0